// ==========================================================================
// Variables
// ==========================================================================

// Typography
$sans: "Helvetica Neue", Helvetica, Arial, Sans-serif;
$lato: "Lato", "Helvetica Neue", Helvetica, Arial, Sans-serif;

// UI colors
$red: #e42932;
$black: #262626;
$white: #fff;
$green: #d3de43;
$blue: #0f9fcf;

$dark-grey: #666;
$medium-grey: #ccc;
$light-grey: #eee;

$facebook-blue: #3b5997;

// Social colors
$twitter: #31b9e4;
$facebook: #3b5997;
$linkedin: #0076b8;
$google: #df4b32;

// Rounded corners
$corner-radius: 3px;