// ==========================================================================
// Mixins
// ==========================================================================

@mixin linear-gradient( $color1, $color2 ) {
	background-color: $color2; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
	background-image: -webkit-linear-gradient(top, $color1, $color2); 
	background-image:    -moz-linear-gradient(top, $color1, $color2);
	background-image:     -ms-linear-gradient(top, $color1, $color2);
	background-image:      -o-linear-gradient(top, $color1, $color2);
}

@mixin border-radius( $radius: $default-border-radius, $vertical-radius: false ) {
	@if $vertical-radius {
		 -webkit-border-radius: $radius $vertical-radius;
		-moz-border-radius: $radius / $vertical-radius;
		border-radius: $radius / $vertical-radius;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
	} @else {
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		border-radius: $radius;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
	}
}

@mixin box-shadow( $arg ) {
	-webkit-box-shadow: $arg;
	-moz-box-shadow: $arg;
	box-shadow: $arg;
}

@mixin translate( $x:0, $y:0 ) {
  -moz-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}
	
@mixin box-sizing( $arg ) {
	-moz-box-sizing: $arg;
	-webkit-box-sizing: $arg;
	box-sizing: $arg;
}

@mixin appearance( $arg ) {
  -webkit-appearance: $arg;
  -moz-appearance: $arg;
  appearance: $arg;
}

@mixin opacity( $arg ) {
  -moz-opacity: $arg;
  -khtml-opacity: $arg;
  -webkit-opacity: $arg;
  opacity: $arg;
}

@mixin background-size( $arg ) {
  -webkit-background-size: $arg;
  -moz-background-size: $arg;
  -o-background-size: $arg;
  background-size: $arg;
}

@mixin transition( $arg ) {
  -webkit-transition: $arg;
  -moz-transition: $arg;
  -o-transition: $arg;
  -ms-transition: $arg;
  transition: $arg;
}

@mixin animation( $args ) {
	-webkit-animation: $args;
	-moz-animation: $args;
	-o-animation: $args;
	animation: $args;
}

@mixin animation-duration( $args ) {
	-webkit-animation-duration: $args;
	-moz-animation-duration: $args;
	-o-animation-duration: $args;
	animation-duration: $args;
}

@mixin animation-fill-mode( $args ) {
	-webkit-animation-fill-mode: $args;
	-moz-animation-fill-mode: $args;
	-o-animation-fill-mode: $args;
	animation-fill-mode: $args;
}

@mixin animation-timing-function( $args ) {
	-webkit-animation-timing-function: $args;
	-moz-animation-timing-function: $args;
	-o-animation-timing-function: $args;
	animation-timing-function: $args;
}

@mixin animation-name( $args ) {
	-webkit-animation-name: $args;
	-moz-animation-name: $args;
	-o-animation-name: $args;
	animation-name: $args;
}

@mixin animation-iteration-count( $arg ) {
	-webkit-animation-iteration-count: $arg;
	-moz-animation-iteration-count: $arg;
	-o-animation-iteration-count: $arg;
	animation-iteration-count: $arg;
}

@mixin nowrap() {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}