// ==========================================================================
// Typography
// ==========================================================================

body {
	font: 13px/1.2 $sans;
}

h1 { font-size: 26px; font-weight: bold; }
h2 { font-size: 24px; }
h3 { font-size: 21px; }
h4 { font-size: 18px; }
h5 { font-size: 18px; margin-bottom: 4px; }
h6 { font-size: 14px; }

p { margin: 0 0 18px; line-height: 1.6em; text-rendering: optimizeLegibility; }

a:link,
a:visited { cursor: pointer; }
a:hover,
a:active { cursor: pointer; }

li { margin-left: 18px; line-height: 24px; }

strong { font-weight: bold; }

aside h3 { margin: 18px 0; text-align: center; }

a { color: #444; text-decoration: underline; }
a:hover { color: $red; }


@mixin core_typography_min481 {
		
	h1.huge { font-size: 60px; }
	h1 { font-size: 46px; }
	h2 { font-size: 36px; }
	h3 { font-size: 28px; }
	h4 { font-size: 24px; }
	h5 { font-size: 21px; margin-bottom: 12px; }
	h6 { font-size: 14px; }

	h1, h2, h3, h4, h5, h6, th {
		margin-bottom: 18px;
	}

	fieldset h2 { font-size: 28px; }
}