// ==========================================================================
// Page
// ==========================================================================

// Page background images
// body { width: 320px; }

body { background-color: #fff; }

.hr { border-top: 1px solid #ebebeb; margin-bottom: 20px; }

// Toggle content for desktop and mobile
.mobile-only { display: block !important; visibility: visible !important; }
.desktop-only { display: none !important; visibility: hidden !important; }


@mixin core-page-min481 {
	
	.hr { border-top: 1px solid #ebebeb; margin-bottom: 18px; }

	// Toggle content for desktop and mobile
	.mobile-only { display: none !important; visibility: hidden !important; }
	.desktop-only { display: block !important; visibility: visible !important; }
}
