
// ==========================================================================
// Icon
// ==========================================================================


// Icon List
// Assumes the following markup:
// <ul class="icon-list">
//		<li><p> <!-- content --> </p></li>
// </ul>

.icon-list { margin-bottom: 20px; list-style: none }  
.icon-list li { margin-left: 0; clear: left; }
.icon-list li p { margin: 5px 0 5px 40px; background-color: #fff; padding: 8px 0 8px 6px; font-weight: normal; }
.icon-list li .icon { float: left; }

.icon { 
	background-image: url(/assets/layouts/SR14/images/icons/icons_sprite.png);
	background-repeat:no-repeat;
	display: block;
	width: 40px;
	height: 46px;
}

@mixin ui-icon-min481 {

	.icon-list li p { padding: 8px 0 8px 18px; }
}