
// ==========================================================================
// Pointer
// ==========================================================================

// Assumes the following markup:
// <p class="pointer"><a href="..." class="pointer">Pointer text ...</a><span>&nbsp;</span></p>

.pointer { font-weight: normal; }
.pointer a { color: #333; border: 0; text-decoration: none; }
.pointer span {
	background: url(/assets/layouts/SR14/images/ui/sprite.png) no-repeat -414px -42px;
	height: 15px;
	margin-left: 10px;
	padding-right: 6px;
	width: 10px;
}
.pointer:hover span { background-position: -413px -42px }

.pointer.btn { font-weight: normal; padding: 0 20px 0 28px; }
.pointer.btn span { background-position: -402px -40px; }
.pointer.btn:hover span { background-position: -401px -40px; }
