
// ==========================================================================
// Tooltip
// ==========================================================================

.frstip { display: inline-block; width: 19px; height: 19px; position: relative; }

.tip-target {
	background: url(/assets/layouts/SR14/images/ui/sprite.png) no-repeat -455px -45px;
	border: 0;
	display: block;
	height: 22px;
	position: relative;
	text-indent: -9999em;
	width: 24px;
}
.lt-ie8 .frstip { display: inline; zoom: 1; }

.tt-content { position: relative; max-width: 300px; }
.tt-content .pod { background-color: #eee; margin: 0 0 25px; }
.tt-content .pod .pod-inner { padding: 18px 18px 2px; }

.tt-content .tri {
	border-color: #eee transparent transparent transparent;
	border-style: solid;
	border-width: 25px 25px 0 25px;
	bottom: 0;
	display: block;
	height: 0px;
	left: 50%;
	margin-left: -25px;
	pointer-events: none;
	position: absolute;
	width: 0px;
}

.tt-content.bottom .pod { margin: 25px 0 0 0; }
.tt-content.bottom .tri {
	border-color: transparent transparent #eee transparent;
	border-width: 0 25px 25px 25px;
	top: 0;
}

.tt-content.right .tri {
	border-color: #eee transparent transparent transparent;
	border-width: 26px 2px 0 48px;
	left: inherit;
	right: 20px;
}

.tt-content.bottom.right .tri {
	border-color: transparent transparent #eee transparent;
	border-width: 0 2px 26px 48px;
}

.tt-content.left .tri {
	border-color: #eee transparent transparent transparent;
	border-width: 26px 2px 0 48px;
	left: 20px;
}

.tt-content.bottom.left .tri {
	border-color: transparent transparent #eee transparent;
	border-width: 0 48px 26px 2px;
}