// ==========================================================================
// btn
// ==========================================================================

.btn {
	@include appearance( none );
	@include border-radius( $corner-radius );
	@include transition( 0.1s linear background-color );
	background-color: $red;
	border: 0;
	color: #fff;
	cursor: pointer;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	padding: 11px 45px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 18px;
}

.btn:hover { background-color: #d1252d; color: #fff; text-decoration: none; }

.btn + .btn { margin-left: 20px; }
.btn--fullwidth + .btn--fullwidth { margin-left: 0; }

.btn--large { font-size: 18px; padding: 15px 55px; }

.btn--grey { background-color: #ddd; color: #444; }
.btn--grey:hover,
.btn--grey:focus { background-color: #ccc; color: #444; }

.btn--black { background-color: #333; color: #fff; }
.btn--black:hover,
.btn--black:focus { background-color: #000; color: #fff; }
