// ==========================================================================
// Page: Home
// ==========================================================================

.promo-wrap {
	min-height: 192px;
	background-color: #e5e7eb;
	padding: 24px 0;
}