
// ==========================================================================
// Page
// ==========================================================================



// Page background images
// body { width: 320px; }

.page { background: #e9e8e5 url(/assets/layouts/SR14/images/bg/bg_fluid.jpg) no-repeat 50% 0; }

// General section styling
.intro,
.preamble { margin: 0 auto; max-width: 850px; text-align: center; }
.copy { padding-bottom: 1px; }

.section-registration-workflow .intro { max-width: none; }

.hr { border-top: 1px solid #ebebeb; margin-bottom: 20px; }

// Toggle content for desktop and mobile
.mobile-only { display: block !important; visibility: visible !important; }
.desktop-only { display: none !important; visibility: hidden !important; }

// Zend Framework Debug bar
#ZFDebug,
#ZFDebug_offset { display: none; }


@mixin core-page-min481 {

	.page { background: #e9e8e5 url(/assets/layouts/SR14/images/bg/bg1.jpg) no-repeat 50% 0; }
	
	.hr { border-top: 1px solid #ebebeb; margin-bottom: 18px; }

	// Toggle content for desktop and mobile
	.mobile-only { display: none !important; visibility: hidden !important; }
	.desktop-only { display: block !important; visibility: visible !important; }

	// Zend Frame Debug bar
	 #ZFDebug, #ZFDebug_offset { display: block; }
}
