
// ==========================================================================
// Pod
// ==========================================================================
//
// Uses the following markup:
// <div class="pod">
//   <div class="pob-inner">
//     <!-- content -->
//   </div>
// </div>

.pod {
	@include border-radius( $corner-radius );
	@include box-sizing( 'border-box' );
	background-color: #fff;
	display: block;
	margin-bottom: 20px;
	zoom: 1;
}
.pod-inner {
	@include box-sizing( 'border-box' );
	display: block;
	padding: 15px 15px;
	zoom: 1;
}
 

@mixin ui-pod-min481 {

	.pod-inner { padding: 30px 30px; };
}