
// ==========================================================================
// Dialog
// ==========================================================================

.dialog-wrap {
	padding: 10px;
}

.dialog-wrap .dialog-close {
	float: right;
	margin-bottom: 10px;
}

.dialog .content .address-list {
	position: relative;
}